<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineBusHos185.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OnlineBusHos184.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OnlineBusHos40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OnlineBusHos185.Properties.Settings>
            <setting name="OnlineBusHos185_TKXLService_DateAccessServiceImplService"
                serializeAs="String">
                <value>http://218.94.72.190:36060/interhos/services/tkmynanjing</value>
            </setting>
        </OnlineBusHos185.Properties.Settings>
        <OnlineBusHos184.Properties.Settings>
            <setting name="OnlineBusHos184_PKZXYYService_MyNanJinApp" serializeAs="String">
                <value>http://8091.ij120.zoenet.cn:8093/WebServices/MyNanJingApp.asmx</value>
            </setting>
        </OnlineBusHos184.Properties.Settings>
        <OnlineBusHos40.Properties.Settings>
            <setting name="OnlineBusHos40_YY_MESSAGE_Service" serializeAs="String">
                <value>http://221.226.123.150:8010/Service.asmx</value>
            </setting>
            <setting name="OnlineBusHos40_RISService_GetRISReport" serializeAs="String">
                <value>http://221.226.123.150:8008/GetRISReport.asmx</value>
            </setting>
            <setting name="OnlineBusHos40_LISService_LisInterface" serializeAs="String">
                <value>http://221.226.123.150:8003/LisInterface.asmx</value>
            </setting>
            <setting name="OnlineBusHos40_EFYDY_KWSService" serializeAs="String">
                <value>http://221.226.123.150:8002/KWSService.asmx</value>
            </setting>
        </OnlineBusHos40.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="HIS_URL" value="https://mid-service.tkxlglyy.com:37000/Winning/"/>
    <add key="SendYunWmDetailURL" value="https://fbo.ztejsapp.cn/TEST/TEST/SLB/MySpringAES/PBusyunhosPre"/>
  </appSettings>
</configuration>