<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>


		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false" />
		<add key="ConnectionStringMySpringMySQL" value="Host=127.0.0.1;port=3306;UserName=root;Password=neso;Database=myspringpaas;character set=utf8;ssl-mode=None"/>
		<add key="ConnectionStringInsur" value="Host=127.0.0.1;port=3306;UserName=root;Password=neso;Database=insurance;character set=utf8;ssl-mode=None"/>
		<add key="ConnectionStringMySpringlogMySQL" value="Host=127.0.0.1;UserName=root;Password=neso;Database=myspringlog;character set=utf8;port=3306;ssl-mode=None"/>
		<!-- MYSQL连接地址 此处是为测试对应函数用的，BusinessFactory自身不需要 -->
		<add key="ConnectionString" value="Host=127.0.0.1;UserName=root;Password=neso;Database=common;character set=utf8;port=3306;SslMode=none"/>

		<add key="ConnectionStringLogMySQL" value="Host=127.0.0.1;UserName=root;Password=neso;Database=buslog;character set=utf8;port=3306;ssl-mode=None"/>
		<add key="ConnectionStringPlatZZJ" value="Host=127.0.0.1;UserName=root;Password=neso;Database=platzzj;character set=utf8;port=3306;ssl-mode=None"/>
		<add key="ConnectionStringZZJ" value="Host=127.0.0.1;UserName=root;Password=neso;Database=common;character set=utf8;port=3306;ssl-mode=None"/>
		<add key="ConnectionString2" value="Host=127.0.0.1;UserName=root;Password=neso;Database=platform;character set=utf8;pooling=true;port=3306"/>



		<!-- MYSQL连接地址 此处是为测试对应函数用的，BusinessFactory自身不需要 -->
		<!--
    <add key="ConnectionString"  value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=platform;character set=utf8;port=3306;ssl-mode=none" />
    <add key="ConnectionStringPlatZZJ" value="Host=172.18.0.220;UserName=root;Password=AC8A347073110006;Database=platzzj;character set=utf8;port=3306;ssl-mode=none" />
	-->
		<!-- ##########################AliPay交易发送地址配置#############################-->
		<!-- 支付宝网关地址（新） -->
		<add key="AliPay.GATEWAY_NEW" value="https://mapi.alipay.com/gateway.do?" />
		<!-- 支付宝网关地址（刷脸） -->
		<add key="AliPay.GATEWAY_NEW_ZOLO" value="https://openapi.alipay.com/gateway.do" />
		<!-- 收款页面跳转同步通知页面地址 -->
		<add key="AliPay.Return_url" value="http://58.216.151.158:90/QHWebServiceZZYModel/AliPay/return_url.aspx" />
		<!-- 收款服务器异步通知页面地址 必须外网能访问-->
		<add key="AliPay.Notify_url" value="http://58.216.151.158:90/QHWebServiceZZYModel/AliPay/notify_url.aspx" />
		<!-- 前台通知地址，必须外网能访问 -->
		<add key="AliPay.Notify_urlUndo" value="http://58.216.151.158:90/QHWebServiceZZYModel/AliPay/notify_urlUndo.aspx" />
		<!-- 支付宝 用户 授权回调地址 -->
		<add key="AliPay.Redirect_uri" value="http://fbo.ztejsapp.cn/SLB/Notify/AliAuthcode" />
		<!-- 启航支付宝 用户认证 APIUrl 地址 -->
		<add key="AliPay.qhAuthAPI_uri" value="http://fbo.ztejsapp.cn/S/" />
		<!--宜兴配置 测试环境-->
		<add key="HerenHIS" value="http://192.168.15.203/csp/healthshare/heren/HEREN.XT.QHZZJ.BS.QHZZJInBs.cls"/>
		<add key="HerenZF" value="http://192.168.31.60:9500/pay-web-trade/gateway"/>
		<!--宜兴HIS和支付地址配置-->
		<!--<add key="HerenHIS" value="http://192.168.31.78/csp/healthshare/heren/HEREN.XT.QHZZJ.BS.QHZZJInBs.cls"/>
		<add key="HerenZF" value="http://192.168.31.59:9000/pay-web-trade/gateway"/>
		<add key="RMLIS" value="http://192.168.12.123:8087/RMLISService/YXRMYY_RM_ExternalIF.asmx"/>-->
		<!-- ##########################WxPay交易发送地址配置#############################-->
		<!-- 收款服务器异步通知页面地址 必须外网能访问-->
		<!--<add key="WxPay.Notify_url" value="http://58.216.151.158:9801/WxPay/BackRcvWxPay.aspx" />-->
		<add key="WxPay.Notify_url" value="https://fbo.ztejsapp.cn/test/server/WxPay/BackRcvWxPay.aspx" />
		<!--商户系统后台机器IP-->
		<add key="WxPay.IP" value="58.216.151.158" />
	</appSettings>
</configuration>